header{
    background: #FF0000;
    background: -webkit-linear-gradient(to right, #FF0000, #FF0000);
    background: linear-gradient(to right, #FF0000, #000000);
}

/*estilos para la tabla*/
table th {
    background-color: #000000 !important;
    color: white;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}